$black: #000000;

@mixin margenes ($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    
}
.jumbotron {
    background-color:$black;
    color:ghostwhite;
    @include margenes(50px,40px)
}
.btn{
    color:white;
    background-color: grey;
}

footer{
    padding: 10px 10px 10px;
    background-color: $black;
    color: ghostwhite;
    @include margenes(10px,0px)
}

.card-uefa {
    flex:  1 180px;
    padding: 2px 2px 2px 2px;
    @include margenes(10px,0px)

}

.btn-ver{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 20px;
}
